.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;   
}

.navbar{
    height: 12vh;
}

.navbar-brand h4{
    margin-bottom: 0rem !important;
}

.logout-button{
    background-color: #f54236 !important;
    border: none !important;
}